@media (min-width: 768px) {
  .overlay {
    height: 610px;
  }

  .logo img {
    max-width: 100%;
  }

  .nav > li > a {
    padding: 10px 5px;
  }

  .logo {
    max-width: 200px;
    margin-right: 10px;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar_navig {
    flex-direction: row;
    float: left;
    margin: 0;
  }
  .navbar-toggle {
    visibility: hidden;
  }
  .navbar_navig > li {
    float: left;
  }
  .navbar_navig > li {
    margin-right: 13px;
    margin-bottom: 8px;
  }
  .navbar_navig > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar_navig {
    float: left;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .slick-slider {
    width: 100%;
  }

  .navbar__menu {
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 15px;
    left: -5px;
    width: 100%;
  }

  .navbar_navig > li > a {
    line-height: 50px;
  }

  .video__main {
    padding-top: 50px;
  }

  .expertises__ee {
    margin-left: 0;
    margin-bottom: 50px;
  }

  .nav-tariff-button {
    display: flex;
    justify-content: center;
  }

  .nav__title {
    text-align: center;
    margin-top: 10px;
  }

  .news__main {
    display: grid;
    grid-template: "q1" "q2" "q3" "q4" "q5" "q6" "q7";
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .slide--1 {
    width: 500px !important;
    padding-right: 50px;
    padding-left: 50px;
  }
  .slick-slide {
    padding: 0;
  }
  .slick__arrow {
    display: none;
  }

  .tarrifs-row {
    flex-direction: column;
  }

  .news__main {
    display: grid;
    grid-template: "q1 q4" "q2 q4" "q3 q3" "q3 q3" "q6 q5" "q6 q5" "q7 q7";
    grid-template-columns: 1fr 1fr;
  }

  .pb {
    padding-bottom: 150px;
  }
}